@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.smooth {
    background-color: #f4f0f05b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav img {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


nav a {
    margin: 0 15px;
    text-decoration: 0;
    font-size: 16px;
    color: #555555;
}

nav a:first-of-type {
    margin-right: auto;
    display: flex;
    align-items: center;
}

nav a:hover {
    opacity: 0.9;
    color: rebeccapurple;
}

nav button {
    background: rebeccapurple;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    height: 38px;
    width: 170px;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

select {
    border-radius: 6px;
    border: none;
    background: #f4f0f05b;
    height: 28px;
    width: 10%;
    padding-left: 10px;
    color: #555555;
    cursor: pointer;
}


.span-color {
    color: rebeccapurple;
}

#wrap-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.first-section-button {
    background-color: rgb(214, 212, 208);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    height: 37px;
    width: 200px;
    border: none;
}

.first-section-button:hover {
    opacity: 1;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.container-img img {
    max-width: 100%;
    height: auto;
}

.container-img img:nth-child(2) {
    flex: 2;
    z-index: 2;
    min-width: 400px;
}

.container-img img:not(:nth-child(2)) {
    max-width: 85%;
}

.container-img img:nth-child(1) {
    position: absolute;
    right: 400px;
    top: 0;
    width: 200px;
}

.container-img img:nth-child(5) {
    position: absolute;
    right: 295px;
    bottom: 0;
    z-index: 1;
    max-width: 400px;
}

.container-img img:nth-child(3) {
    position: absolute;
    left: 90%;
    padding-left: 20px;
    top: 80px;
    z-index: 1;
    width: 300px;
}

.container-img img:nth-child(4) {
    position: absolute;
    left: 422px;
    bottom: 60px;
    border-radius: 10px;
    z-index: 3;
    max-width: 200px;
}


#wrap-media button,
h1,
p {
    margin: 10px 0;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

h2, h3 {
    font-weight: 700;
    font-size: 35px;
}

p {
    font-weight: 400;
    font-size: 14px;
    color: #777777
}

.last-button {
    color: #333;
    background-color: rgb(250, 192, 46);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    height: 38px;
    width: 170px;
    border: none;
    cursor: pointer;
}

#middle-website {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

#middle-website p {
    margin-bottom: 30px;
}

.middle-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logos-center {
    width: 50vw;
    height: auto;
    cursor: pointer;
    margin-bottom: 100px;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#button-services {
    background-color: rgb(214, 212, 208);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    height: 37px;
    width: 200px;
    border: none;
    margin-bottom: 40px;
    opacity: 1;
}

/*Estilização do carrossel*/

.carousel-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

.carousel-slide {
    display: flex;
    overflow-x: auto;
    /* Adiciona scroll horizontal para dispositivos menores */
}

.carousel-slide img {
    max-width: 100vw;
    /* Reduz o tamanho das imagens em 70% */
    height: auto;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Adiciona um espaçamento interno ao footer */
    margin: 40px auto 150px;
  }
  
  #button-history {
    background-color: rgb(214, 212, 208);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    height: 37px;
    width: 200px;
    border: none;
    opacity: 1;
  }
  
  #footer-informations {
    flex: 1; /* Ocupa o espaço restante no footer */
    margin-left: 32%;
  }
  #footer-informations p {
    max-width: 740px;
  }

@media (max-width: 768px) {
    .carousel-slide img {
        width: 90%;
        margin-right: 5px;
    }
}